# exclude cache files
*.pyc
*.npy
*checkpoint*

# exclude the data and model files
*.csv
*.pickle
*.pkl
skipgrams.txt
.DS_Store

# exclude the glove file
glove.twitter.27B.200d.txt

# exclude the result file
*.html